.nav-bar-left {
  float: left;
}

nav {
  float: right;
}

nav>a {
  text-decoration: none;
  color: #1e1e1e;
}

li>a {
  text-decoration: none;
  color: #1e1e1e;
}

body{
   width: 100%;
  height: 823px;
  background:url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;


}

.conntainer{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 600px;
  background-color:#ffffff;
}