.nav-bar-left {
  float: left;
  width: 200px;
}

nav {
  float: right;
  width: 44%;
}

.clear-float {
  clear: both;
}

nav>a {
  text-decoration: none;
  color: #1e1e1e;
}

li>a {
  text-decoration: none;
  color: #1e1e1e;
}

html {height: 100%;

}
body {
    margin: 0px;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    background:url("../images/background-image1.png") top center no-repeat, #f2f5f7;
    height: 100%;
    background-size: 100%;
}


section.top-section {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}

section.top-section h1 {
  font-family: SourceSerifPro;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

section.top-section  h3 {
  opacity: 0.5;
  font-family: SourceSerifPro;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.container{
  display: flex;
  flex-wrap: wrap;
 
 width: 80%;
  height: auto;
  margin: 0 auto;
  
}

.container-fluid {
  margin: 0 auto;
  width: 90%;
  background-color:#ffffff;
}
.top-main>ul  {
  float: left;
  width: 30%;
}
.top-main>ul li {
display: inline;
   margin-right:2%; 
   font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #24292c;
 }
 .top-main>ul+ul{
  width: 60%;
    float: right;
    margin-right: 0px;
    text-align: right;
 }
 .top-main>ul+ul li{
   display: inline-block;
   margin-right: 2%;
   font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #24292c;
 }

.top-main{
  margin: 5% 1.7% 3.4% 1.7%;
 
  width: 100%;
}

.top-main>ul+ul>li:first-child a{
  font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c2327f;
 
 
}
.box{
  width: 30%;
  margin: 1.6%;
  height: 338.32px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);
   box-shadow: 0 1px 15px 1px rgba(69,65,78,.08);

}
.content{
  padding: 15px;
  height: 50%;
  
}

.box>img {
  width: 100%;
}
header{
  margin: 2% 5%;
}
.nav-bar-left span{
  font-family: SourceSerifPro;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 2%;
}
nav a{
  font-family: SourceSerifPro;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8798a4;
  margin-left: 10%;
} 
.active{
  color: #ffffff;
}
nav > a+a+a+a+a {
  font-size: 26px;
  color: #383f43;
}
nav a img{
  margin-bottom: -1%;
}
.soon{
  font-size: 11px;
  line-height: 1.09;
  color: #c2327f;
}

.muted{
  font-family: SourceSerifPro;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.75;
  letter-spacing: normal;
  text-align: right;
  color: #bdbebf;
}



.out{
  font-size: 11px;
  line-height: 1.09;
  color: #c2327f;
  opacity: 0;
}

.content h3 {
  font-family: SourceSerifPro;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #24292c;
}

.content h6 {
  font-family: SourceSerifPro;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8798a4;
}
 .likes {
font-family: SourceSerifPro;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8798a4;
  display: inline-block;
  margin-left: 4%;
 }


 .review {
 font-family: SourceSerifPro;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #c2327f; 
  text-decoration: underline;
  display: inline-block;
  margin-left: 3%;
}


hr {
  border: solid 1px #e5e7e9;
  margin: 9% auto;
}

img.ratings {
  vertical-align: text-top;
}

.avatar{
  z-index: 4;
  position: relative;
  vertical-align: text-top;
}

.avatar1{
  z-index: 3;
  margin-left: -8%;
  position: relative;
  vertical-align: text-top;
}
.avatar2{
  z-index: 2;
  margin-left: -8%;
  position: relative;
  vertical-align: text-top;
}
.avatar3{
  z-index: 1;
  margin-left: -8%;
  position: relative;
  vertical-align: text-top;
}

/* .shape{
  width: 100%;
  overflow: hidden;
  height: 400px;
}
.bottom-background{
  width: 1600px;
 height: 432px;
 
  transform: rotate(-180deg);
  background-image: linear-gradient(86deg, #0b0e2d, #0b0414);
  
} */